@import "../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Rubik:wght@300&display=swap');


body{
    position: relative;
    height: 100vh;
    overflow: hidden;
}
*{
    
}
.background{
    background-image: url(../img/bg.jpg);
    height:100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    filter: blur(3px);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    transform: scale(1.1);
    z-index: -1;

}

.app{
    height: 80%;
    .card{
        width: 25%;
        min-width: 350px;
        max-height: 800px;
        overflow: auto;
    }
    i{
        color: rgb(212, 81, 81);
    }
    .del-btn:hover i{
        color:darken(rgb(212, 81, 81), 10);
        transform:scale(1.1)
    }
}
